body {
	background: #F3F3F3;
	margin: 0px;
	padding: 0px;
}

html, body {
	font-family: "Open Sans","Duru Sans","Lucida Grande",Verdana,Helvetica,sans;
	font-weight: 400;
	font-size: 12px;
	color: #7a7a7a;
	-webkit-font-smoothing: subpixel-antialiased;
}

#navigation {
	position: fixed;
	width: 300px;
	height: 100%;
	background: #3E3E3E url("../images/noise.png");
}

#masthead {
	height: 121px;
	background: #1D1D1D url("../images/noise.png");
	color: white;
}

#masthead h1 {
	margin-top: 0px;
}

#tools {
	height: 49px;
	background: #292929; /* Old browsers */
	background: -moz-linear-gradient(top,  #292929 0%, #1d1d1d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#292929), color-stop(100%,#1d1d1d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #292929 0%,#1d1d1d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #292929 0%,#1d1d1d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #292929 0%,#1d1d1d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #292929 0%,#1d1d1d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#1d1d1d',GradientType=0 ); /* IE6-9 */
}

#contents {
	overflow-y: auto;
}

#contents ol, #contents ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#contents li {
	/*padding-bottom: 1px; */
}

#contents li > ol {
	background: #f3f3f3;
}

#contents .unit {
	background-color: #393838;
	color: #999;
	padding: 8px 10px;
}

#contents .chapter {
	background: #F3F3F3;
}

#contents .chapter:before {
	content: " ";
}
#contents .chapter:after {
	content: " ";
	display: table;
	clear: both;
}

#contents .chapter > a{
	display: block;
	border-top: 1px solid rgba(255,255,255,0.1);
	border-bottom: 1px solid rgba(0,0,0,0.3);
	padding: 10px 40px 10px 10px;
	position: relative;
	background: #404040 url("../images/expand.png") no-repeat right 4px;
	color: #E9E9E9;
	text-decoration: none;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.17);
}
#contents .chapter.active > a {
	background: #404040 url("../images/expand.png") no-repeat right -36px;
}
#contents a:hover,
#contents .section a:hover {
	color: #08A4C9;
}

#contents .section {
	display: block;
	margin: 10px 7px;
	box-sizing: border-box;
	background: #FFFFFF;
	position: relative;
	color: #383838;
	text-decoration: none;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.17);
}

#contents .section a {
	display: block;
	margin: 0px;
	box-sizing: border-box;
	background: #FFFFFF;
	border-top: 1px solid #f3f1f1;
	padding-top: 10px;
	padding: 10px;
	position: relative;
	color: #383838;
	text-decoration: none;
	padding-left: 40px;
}

#contents li.section > a {
	font-weight: bold;
	background: #FFFFFF url("../images/file.png") no-repeat;
	background-position: 10px 5px;
}

#contents .section a:hover {
	background-position: 10px -69px;
}

#contents .section.active > a,
#contents .section > a:active {
	background: #08A4C9 url("../images/file.png") no-repeat;
	background-position: 10px -32px;
	color: white;
}

#contents .chapter > ol {
	display: none;
}

#contents .chapter.active > ol {
	display: block;
}

/* page area */

#content {
	margin-left: 320px;
	margin-right: 20px;
}

#prev_page {
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	box-shadow: 0px 5px 3px #eee;
	background: white;
}

#page_content {
	line-height: 1.5em;
	font-size: 1.2em;
	border: 1px solid #e3e3e3;
	box-shadow: 0px 5px 3px #eee;
	padding: 20px;
	margin: 20px 0px;
	background: white;
}

.pager {
	display: table;
	height: 50px;
	width: 100%;
}

.pager a {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	text-decoration: none;
	padding: 0px 20px;
	box-sizing: border-box;
}

.editlink {
	float: right;
	color: #7a7a7a;
	text-decoration: none;
}
.editlink:hover {
	color: #08A4C9;
}

.loading {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#next_page {
	border-left: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	box-shadow: 0px 15px 5px #fff;
	background: white;
}

#title {
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.6em;
	height: 1.6em;
}
#edit_content {
	width: 100%;
	min-height:300px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	position: relative;
	z-index: 2;
	height: 23px;
	border: 1px solid #ccc;
	margin: 0;
	padding: 1px 2px;
	background-color: white;
	color: #333;
	border-radius: 1px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset;
	-webkit-transition: border .3s ease-in;
	-moz-transition: border .3s ease-in;
	-ms-transition: border .3s ease-in;
	-o-transition: border .3s ease-in;
	transition: border .3s ease-in;
}
input:focus,
textarea:focus {
	outline: 0;
	border-color: #5ca9e4;
	box-shadow: 0 0 0 2px rgba(70,161,231,0.3),0 1px 2px rgba(0,0,0,0.2) inset;
}

.btn {
	position: relative;
	cursor: pointer;
	outline: 0;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-family: Arial,Helvetica,sans-serif;
	line-height: 1;
	font-size: 13px;
	font-weight: normal;
	padding: 6px 16px;
	border-radius: 4px;
	background-color: #f3f3f3;
	background-image: -moz-linear-gradient(top,#fff,#e1e1e1);
	background-image: -ms-linear-gradient(top,#fff,#e1e1e1);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e1e1e1));
	background-image: -webkit-linear-gradient(top,#fff,#e1e1e1);
	background-image: -o-linear-gradient(top,#fff,#e1e1e1);
	background-image: linear-gradient(top,#fff,#e1e1e1);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e1e1e1',GradientType=0);
	border: 1px solid #dadada;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom-color: #a9a9a9;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15),inset 0 1px 1px 0 rgba(255,255,255,0.6);
	text-shadow: 0 1px 0 #fff;
}
.btn:hover {
	filter: none;
	background: 0;
	background: #eee;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8);
	text-decoration: none;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}